/* General reset and classes */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul,
li {
  margin: 0;
}

.flexspacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for large screen */

/* top navigation styling */
.navtop {
  background-color: black;
  padding: 10px;
  position: relative;
}

.navlist {
  display: flex;
  list-style-type: none;
}

.navlist li {
  margin-right: 15px;
}

.navlist a {
  text-decoration: none;
  color: #aaa;
}

.footbottom a {
  text-decoration: none;
  color: rgba(167, 169, 169, 1);
}

.footnav a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(167, 169, 169, 1);
  margin-right: 10px;
}

.flexed-desc a {
  text-decoration: none;
}

.sec-4-big-pic-third a {
  text-decoration: none;
}

.sec-4-big-pic-second a {
  text-decoration: none;
}

.sec-4-big-pic-first a {
  text-decoration: none;
}

.textfoot a {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: rgba(36, 36, 36, 0.9);
}

.title a {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  color: #f42;
  font-size: 28px;
  font-weight: bolder;
}

.titleandlinks {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: baseline;
}

.titleholder {
  margin-right: auto;
}

.title-side {
  margin: 0 6px;
}

.p-holder {
  display: flex;
}

.a-side {
  text-decoration: none;
  border-right: 1px solid gray;
  padding-right: 3px;
  font-family: "Russo One", sans-serif;
  color: #f42;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.yellow-nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.dealtitlediv p a {
  text-decoration: none;
  color: #f42;
}

.navlist a:hover {
  color: white;
}

#whitetext {
  color: white;
}

/* navlogom&s style */
.navlogom-m {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 106px;
  height: 55px;
  text-align: center;
  padding-top: 25px;
  display: none;
  top: 0;
  left: 0;
}

.navlogom-m img {
  width: 80%;
}

.navlogom-s {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 85px;
  height: 25px;
  padding-top: 15px;
  padding-left: 20px;
  display: none;
}

.navlogom-s img {
  width: 100%;
}

/* navigation fixed styling */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navfixed {
  height: 50px;
  font-family: "Nova Square", cursive;
  font-size: 17px;
  background-color: white;
}

#sideinfologo {
  width: 125px;
  height: 54px;
}

.sideinfo {
  margin-right: 25px;
}

.time {
  margin-right: 20px;
  font-size: 120%;
  color: red;
  font-weight: bold;
}

.ticket {
  background-color: #0cc;
  color: white;
  width: 90px;
  height: 30px;
  font-size: 60%;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.ticket:hover {
  background-color: purple;
}

#searchbtn {
  transform: rotate(90deg);
  color: #aaa;
}

#hamburger {
  display: none;
}

.navli2 a:hover {
  color: black;
}

/* yellow nav styling */

.yellow-nav {
  background-color: #ffe712;
  height: 20px;
  padding: 5px;
}

/* Styles for the main news section */

/* styling for making the sections a grid layout */

.main-news-section {
  display: grid;
  grid-gap: 6px;
  grid-template-areas:
    "main side-top "
    "main side-bottom";
  height: 50vh;
  margin: 4px;
}

.main-pic {
  background:
    linear-gradient(
      180deg,
      #f42 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("../images/main-pic-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: main;
  padding: 1% 1% 2% 1%;
}

.side-pic-top {
  background:
    linear-gradient(
      180deg,
      rgba(27, 112, 186, 0.5) 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("../images/side-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: side-top;
  padding-bottom: 2%;
}

.side-pic-bottom {
  background:
    linear-gradient(
      180deg,
      rgba(27, 112, 186, 0.5) 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("../images/side-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: side-bottom;
  padding-bottom: 2%;
}

/* logo sizing */
.logo-TNW {
  display: flex;
  justify-content: space-between;
}

.logo-TNW img {
  width: 410px;
  height: 100px;
  margin: 20px;
}

.logo-TNW p {
  color: #fff;
  margin: 20px;
}

/* styling the headline texts */

.pic-content p,
.side-pic-top p,
.side-pic-bottom p {
  color: #fff;
  margin: 0 0 0 10px;
}

.pic-content i {
  margin: 0 4px;
}

.headline {
  font-family: "Russo One", sans-serif;
  font-size: 200%;
  text-align: justify;
  padding-top: 140px;
  color: white;
  text-shadow: 1px 1px black;
  margin-bottom: 5px;
}

.side-headline {
  font-family: "Russo One", sans-serif;
  font-size: 130%;
  text-align: justify;
  padding-top: 170px;
  text-shadow: 1px 1px black;
}

.side-pic-content i {
  margin: 0 4px;
}

/* styling latest news section */

.newscont {
  width: 90%;
  margin: auto;
}

.newsitem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.latest-news {
  margin-top: 200px;
}

.item img {
  width: 100%;
}

.author {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: grey;
}

/* styling latest funding section */
.stylehead {
  position: relative;
}

.styletitle {
  background-color: #f42;
  margin: 0;
  text-align: left;
  padding: 10px 0 10px 80px;
  color: white;
  font-family: "Varela Round", sans-serif;
  text-shadow: 1px 1px black;
}

.subheadstyle {
  background-color: rgba(255, 68, 34, 0.08);
  margin: 0;
  text-align: left;
  padding: 5px 0 5px 80px;
}

.subheadstyle h4,
h5 {
  margin: 0;
}

.item2 img {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.textfoot {
  padding-top: 20px;
}

.mr {
  margin-right: 5px;
}

.latest {
  background-color: #fffaf8;
}

.underline {
  background-color: #f42;
  height: 1px;
  margin: 10px 0;
  opacity: 0.5;
}

.bottomtext {
  font-size: 11px;
  text-align: left;
  line-height: 2;
  color: rgba(36, 36, 36, 0.5);
}

/* this is the styling for the section for news items */

.section-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  grid-gap: 5px;
  width: 90%;
}

/* Grid item styling. The item container is flexed with direction of column */

.section-4-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.section-4-item h2 {
  color: #ef5350;
  font-family: "Russo One", sans-serif;
  font-size: 120%;
}

.sec-4-big-pic-first {
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("../images/apple-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sec-4-big-pic-second {
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("../images/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sec-4-big-pic-third {
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("../images/third.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.headline-header {
  padding: 150px 0 0 20px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 85%;
}

.pic-headline {
  color: #fff;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  font-size: 105%;
  padding: 0 0 0 20px;
  margin: 5px 0;
}

.view-history {
  color: #fff;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 75%;
}

/* div with flex rows */
.flexed-div {
  display: flex;
  background-color: #fce4ec;
}

.flexed-desc {
  width: 80%;
}

.flexed-header {
  padding-top: 15px;
}

.flexed-desc p {
  color: #ef5350;
  padding-left: 5px;
  margin: 1px;
  font-family: "Varela Round", sans-serif;
}

.flexed-pic {
  background-image: url("../images/bit.jpg");
  width: 96px;
  height: 96px;
}

/* ul elements containing div */
.ul-news-elements {
  padding: 20px 10px;

  /* background-color:#fff7f8; */
}

.ul-news-elements li {
  margin-left: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  border-bottom: 1px solid gray;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: grey;
}

.ul-news-elements ul {
  margin-left: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: grey;
}

/* styling latest deal section */

.dealhead,
.dealprice {
  margin: 5px 0;
}

.ditem img {
  width: 100%;
  height: 200px;
}

.ditem {
  margin-bottom: 20px;
}

.dealtitlediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgcont {
  position: relative;
  overflow: hidden;
}

.ptag {
  position: absolute;
  top: -20px;
  right: -110px;
  transform: rotate(45deg);
  background-color: #ffe712;
  height: 25px;
  width: 250px;
  padding-top: 50px;
  text-align: center;
  font-size: 90%;
  font-family: "Varela Round", sans-serif;
}

/* styling for footer section */

footer {
  background-color: #1a1a1a;
  padding: 2% 0 0 0;
  text-align: center;
}

.iconcont {
  text-align: center;
  margin: 0 auto;
}

.ficon {
  color: white;
  margin: 10px;
  font-size: 100%;
  background-color: #333;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #333;
}

.ficon:hover {
  background-color: black;
  border: 2px solid grey;
}

.footnav {
  text-align: center;
  width: 25%;
  margin: 2% auto;
  font-size: 75%;
  padding-bottom: 20px;
}

.footnav li {
  list-style-type: none;
  float: left;
}

.footnav a:hover {
  color: white;
}

.footbottom {
  clear: both;
  margin: 0;
  background-color: #000;
  padding: 2% 0;
  text-align: center;
}

/* responsiveness for medium devices */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* top navigation styling */
  .navtop {
    background-color: black;
    padding: 10px;
    font-size: 80%;
    margin: 0;
    height: 30px;
  }

  /* navlogom&s style */
  .navlogom-m {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    width: 106px;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 200;
  }

  .navlist {
    margin-left: 80px;
  }

  .navlogom-m img {
    width: 70%;
  }

  .navlogom-s {
    display: block;
  }

  .navlogom-s img {
    width: 70%;
  }

  /* navigation fixed styling */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navfixed {
    height: 40px;
    font-family: "Nova Square", cursive;
    background-color: white;
    font-size: 90%;
  }

  .navli2 {
    margin-left: -60px;
  }

  #searchbtn {
    border-bottom: 1px rgba(84, 84, 84, 0.27) solid;
    padding-bottom: 10px;
    width: 25px;
    padding-left: 15px;
    font-size: 110%;
  }

  .hiddenmd {
    display: none;
  }

  /* yellow nav styling */

  .yellow-nav {
    background-color: #ffe712;
    height: 20px;
    padding: 5px 5px 5px 105px;
    clear: both;
  }

  /* main content */
  .main-news-section {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "main side-top "
      "main side-bottom";
    height: 50vh;
    margin: 4px 4px 5% 4px;
  }

  .main-pic {
    /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
    background:
      linear-gradient(
        180deg,
        #f42 0%,
        rgba(68, 152, 217, 0.11528361344537819) 100%
      ),
      url("../images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    padding: 1% 1% 2% 1%;
  }

  /* logo sizing */

  .logo-TNW img {
    display: none;
  }

  .logo-TNW p {
    display: none;
  }

  /* styling the headline texts */

  .pic-content p,
  .side-pic-top p,
  .side-pic-bottom p {
    color: #fff;
    margin: 0 0 0 10px;
  }

  .pic-content i {
    margin: 0 4px;
  }

  .headline {
    font-family: "Russo One", sans-serif;
    font-size: 150%;
    text-align: justify;
    padding-top: 225px;
  }

  #br {
    display: none;
  }

  #spn {
    display: block;
  }

  .side-headline {
    font-family: "Russo One", sans-serif;
    font-size: 100%;
    padding-top: 125px;
    text-align: left;
  }

  .side-pic-content i {
    margin: 0 4px;
  }

  /* styling latest news section */
  .section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    grid-gap: 5px;
    width: 90%;
  }

  /* styling latest news section */

  .newscont {
    width: 80%;
    margin: auto;
  }

  .newsitem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
  }

  .latest-news {
    margin-top: 150px;
  }

  .item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
  }

  .author {
    font-family: "Varela Round", sans-serif;
    font-size: 13px;
    color: grey;
  }

  .title a {
    font-family: "Russo One", sans-serif;
    text-decoration: none;
    color: #f42;
    font-size: 28px;
    font-weight: bolder;
  }

  .titleandlinks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .footnav {
    width: 35%;
    margin: 2% auto;
    font-size: 75%;
    text-align: center;
    padding-bottom: 20px;
  }
}

/* responsiveness for mobile devices */
@media only screen and (max-width: 767px) {
  /* navigation small */

  .navtop {
    display: none;
  }

  /* navlogom&s style */
  .navlogom-s {
    display: block;
    width: 85px;
    height: 35px;
    padding-top: 15px;
    padding-left: 20px;
  }

  .navlogom-s img {
    width: 70%;
  }

  .navli2 {
    display: none;
  }

  /* navigation fixed styling */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navfixed {
    height: 50px;
    font-family: "Nova Square", cursive;
    background-color: white;
    font-size: 90%;
  }

  #searchbtn {
    border-bottom: 1px rgba(84, 84, 84, 0.27) solid;
    border-top: 1px rgba(84, 84, 84, 0.27) solid;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 15px;
    width: 35px;
    font-size: 110%;
  }

  #hamburger {
    display: block;
    color: orangered;
    margin-left: 10px;
    font-size: 120%;
  }

  .hiddenmd {
    display: none;
  }

  /* yellow nav styling */

  .yellow-nav {
    background-color: #ffe712;
    height: 30px;
    padding-top: 20px;
    text-align: center;
    clear: both;
  }

  /* main content */
  .main-news-section {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "main"
      "side-top"
      "side-bottom";
    margin: 4px 4px 5% 4px;
  }

  .main-pic {
    background:
      linear-gradient(
        180deg,
        #f42 0%,
        rgba(68, 152, 217, 0.11528361344537819) 100%
      ),
      url("../images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    height: 30vh;
    padding: 1% 1% 2% 1%;
  }

  /* Side pic top */
  .side-pic-top {
    height: 30vh;
  }

  /* side pic bottom */
  .side-pic-bottom {
    height: 30vh;
  }

  /* logo sizing */

  .logo-TNW img {
    display: none;
  }

  p {
    margin: 3px 0;
  }

  .logo-TNW p {
    display: none;
  }

  /* styling the headline texts */

  .pic-content p,
  .side-pic-top p,
  .side-pic-bottom p {
    color: #fff;
    margin: 0 0 0 10px;
  }

  .pic-content i {
    margin: 0 4px;
  }

  .headline {
    font-family: "Russo One", sans-serif;
    font-size: 100%;
    text-align: justify;
    padding-top: 100px;
  }

  .titleandlinks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  #br {
    display: none;
  }

  #br-first {
    display: none;
  }

  #spn {
    display: inline;
  }

  .side-headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    padding-top: 135px;
    text-align: left;
  }

  .side-pic-content i {
    margin: 0 4px;
  }

  /* Latesnt news */
  .latest-news {
    margin-top: 350px;
  }

  .newscont {
    width: 90%;
    margin: auto;
  }

  .newsitem {
    display: block;
  }

  .itemsmall {
    display: flex;
    margin-bottom: 15px;
  }

  .itemsmall img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }

  .itemsmall h4,
  .ditem {
    display: flex;
  }

  .imgcont img {
    width: 100px;
    height: 70px;
    margin-right: 100px;
  }

  .dealhead a {
    font-size: 100%;
  }

  .textcontsmall2 {
    font-size: 90%;
  }

  .ptag {
    display: none;
  }

  /* Latesnt news */
  .section-4 {
    display: block;
    margin: auto;
  }

  .footnav {
    text-align: center;
    width: 60%;
    margin: 2% auto;
    font-size: 75%;
    padding-bottom: 20px;
  }
}
