/*General reset and classes*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  margin: 0;
}

.flexspacebetween {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flexcenter {
  display: flex;
  justify-content:center;
  align-items: center;
}

/*responsiveness for mobile devices*/
@media only screen and (max-width:767px) {}
/*responsiveness for medium devices*/
@media only screen and (max-width: 1023px) and (min-width: 768px) {}

/*styling for large screen */


/*top navigation styling */
.navtop {
  background-color: black;
  padding: 10px;
}
.navlist {
  display: flex;
  list-style-type: none;
}

.navlist li {
  margin-right: 15px;
}
.navlist a {
  text-decoration: none;
  color:#aaa;
}
.navlist a:hover {
  color:white;
}
#whitetext {
  color:white;
}

/*navigation fixed styling */
.header {
  position: sticky;
  top:0;
  width: 100%;
  z-index: 100;
}

.navfixed {
  height: 50px;
  font-family: 'Nova Square', cursive;
  font-size:17px;
  background-color: white;
}
#sideinfologo {
  width: 125px;
  height: 54px;
}

.sideinfo {
margin-right: 25px;
}

.time {
  margin-right: 20px;
  font-size: 120%;
  color:red;
  font-weight: bold;
}
.ticket {
  background-color: #0cc;
  color:white;
  width: 90px;
  height: 30px;
  font-size:60%;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.ticket:hover {
  background-color: purple;
}

#searchbtn {
  transform: rotate(90deg);
  color:#aaa;
}

.navli2 a:hover {
  color:black;
}

/*yellow nav styling */

.yellow-nav {
  background-color: #ffe712;
  height: 20px;
  padding: 5px;
}
.yellow-nav a {
  margin-left: 15px;
  text-decoration: none;
  color:black;
  font-size: 15px;
}

/* Styles for the main news section */

/* styling for making the sections a grid layout */

.main-news-section{
    display: grid;
    grid-gap: 6px;
    grid-template-areas: "main side-top "
                        "main side-bottom";
height:50vh;
margin:4px;

}

.main-pic{

    /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
    background: linear-gradient(180deg, #f42 0%, rgba(68, 152, 217, 0.11528361344537819) 100%), url("./images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    padding-bottom: 2%;
    padding:1%;
}

.side-pic-top{
    background:  linear-gradient(180deg, rgba(27, 112, 186, .5) 0%, rgba(68, 152, 217, 0.11528361344537819) 100%)
    , url("./images/side-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: side-top;
    padding-bottom: 2%;
}

.side-pic-bottom{
    background: linear-gradient(180deg, rgba(27, 112, 186, .5) 0%, rgba(68, 152, 217, 0.11528361344537819) 100%)
    , url("./images/side-pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: side-bottom;
    padding-bottom: 2%;
}

/* logo sizing */
.logo-TNW{
    display: flex;
    justify-content: space-between;
}
.logo-TNW img{
    width: 412px;
    height: 100px;
    margin:20px;
}
.logo-TNW p{
    color:#fff;
    margin: 20px;
}
/* styling the headline texts*/

.pic-content p, .side-pic-top p, .side-pic-bottom p{
    color: #fff;
    margin: 0  0 0 20px;
}

.pic-content i{
    margin:0 4px;
}
.headline{

     font-family: 'Russo One', sans-serif;
     font-size:250%;
     text-align: justify;
     padding-top: 105px;
}

.side-headline{
    font-family: 'Russo One', sans-serif;
    font-size: 150%;
    text-align: justify;
    padding-top: 150px;
}

.side-pic-content i{
    margin:0 4px;
}

/* styling latest news section*/

.newscont {
  width: 80%;
  margin: auto;
}

.newsitem {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:10px;
  justify-content: center;
}

.latest-news {
margin-top: 12%;
}

.item a {
  text-decoration: none;
  color:black;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.author {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  color:grey;
}

.title a {
    font-family: 'Russo One', sans-serif;
  text-decoration: none;
  color: #f42;
  font-size: 28px;
  font-weight: bolder;
}


/* styling latest funding section*/
.stylehead {
  position: relative;
}

.styletitle {
  background-color:#f42;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  color:white;
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1px 1px black;
}

.subheadstyle {
  background-color: rgba(255,68,34,.08);
  margin: 0;
  text-align: center;
  padding:5px 0;
}
.subheadstyle h4,h5 {
  margin:0;
}

.smallicon {
  height: 60px;
  width: 60px;
  position: absolute;
  top:10px;
  left:10px;
}
.textfoot{
  padding-top: 20px;
}

.textfoot a {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color:rgba(36, 36, 36, 0.9)
}

.mr {
  margin-right:5px;
}

.latest {
  background-color: #FFFAF8;
}

.underline {
  background-color:#f42;
  height: 1px;
  margin: 10px 0;
  opacity: .5;
}

.bottomtext {
  font-size: 11px;
  text-align: left;
  line-height:2;
  color:rgba(36, 36, 36, 0.5);
}
