/*General reset and classes*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
}

.flexspacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*styling for large screen */
/*top navigation styling */
.navtop {
  background-color: black;
  padding: 10px;
}
.navlist {
  display: flex;
  list-style-type: none;
}

.navlist li {
  margin-right: 15px;
}
.navlist a {
  text-decoration: none;
  color: #aaa;
}
.navlist a:hover {
  color: white;
}
#whitetext {
  color: white;
}

/*navlogom&s style */
.navlogom-s {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  width: 106px;
  height: 55px;
  text-align: center;
  padding-top: 25px;
  display: none;
}
.navlogom-s img {
  width: 80%;
}

/*navigation fixed styling */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navfixed {
  height: 50px;
  font-family: "Nova Square", cursive;
  font-size: 17px;
  background-color: white;
}
#sideinfologo {
  width: 125px;
  height: 54px;
}

.sideinfo {
  margin-right: 25px;
}

.time {
  margin-right: 20px;
  font-size: 120%;
  color: red;
  font-weight: bold;
}
.ticket {
  background-color: #0cc;
  color: white;
  width: 90px;
  height: 30px;
  font-size: 60%;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.ticket:hover {
  background-color: purple;
}

#searchbtn {
  transform: rotate(90deg);
  color: #aaa;
}

.navli2 a:hover {
  color: black;
}

/*yellow nav styling */

.yellow-nav {
  background-color: #ffe712;
  height: 20px;
  padding: 5px;
}
.yellow-nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* Styles for the main news section */

/* styling for making the sections a grid layout */

.main-news-section {
  display: grid;
  grid-gap: 6px;
  grid-template-areas:
    "main side-top "
    "main side-bottom";
  height: 50vh;
  margin: 4px;
}

.main-pic {
  /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
  background: linear-gradient(
      180deg,
      #f42 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("./images/main-pic-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: main;
  padding-bottom: 2%;
  padding: 1%;
}

.side-pic-top {
  background: linear-gradient(
      180deg,
      rgba(27, 112, 186, 0.5) 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("./images/side-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: side-top;
  padding-bottom: 2%;
}

.side-pic-bottom {
  background: linear-gradient(
      180deg,
      rgba(27, 112, 186, 0.5) 0%,
      rgba(68, 152, 217, 0.11528361344537819) 100%
    ),
    url("./images/side-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: side-bottom;
  padding-bottom: 2%;
}

/* logo sizing */
.logo-TNW {
  display: flex;
  justify-content: space-between;
}
.logo-TNW img {
  width: 412px;
  height: 100px;
  margin: 20px;
}
.logo-TNW p {
  color: #fff;
  margin: 20px;
}
/* styling the headline texts*/

.pic-content p,
.side-pic-top p,
.side-pic-bottom p {
  color: #fff;
  margin: 0 0 0 20px;
}

.pic-content i {
  margin: 0 4px;
}
.headline {
  font-family: "Russo One", sans-serif;
  font-size: 250%;
  text-align: justify;
  padding-top: 105px;
}

.side-headline {
  font-family: "Russo One", sans-serif;
  font-size: 150%;
  text-align: justify;
  padding-top: 150px;
}

.side-pic-content i {
  margin: 0 4px;
}

/* styling latest news section*/

.newscont {
  width: 80%;
  margin: auto;
}

.newsitem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.latest-news {
  margin-top: 12%;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.author {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: grey;
}

.title a {
  font-family: "Russo One", sans-serif;
  text-decoration: none;
  color: #f42;
  font-size: 28px;
  font-weight: bolder;
}

/* styling latest funding section*/
.stylehead {
  position: relative;
}

.styletitle {
  background-color: #f42;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  color: white;
  font-family: "Varela Round", sans-serif;
  text-shadow: 1px 1px black;
}

.subheadstyle {
  background-color: rgba(255, 68, 34, 0.08);
  margin: 0;
  text-align: center;
  padding: 5px 0;
}
.subheadstyle h4,
h5 {
  margin: 0;
}

.smallicon {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.textfoot {
  padding-top: 20px;
}

.textfoot a {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: rgba(36, 36, 36, 0.9);
}

.mr {
  margin-right: 5px;
}

.latest {
  background-color: #fffaf8;
}

.underline {
  background-color: #f42;
  height: 1px;
  margin: 10px 0;
  opacity: 0.5;
}

.bottomtext {
  font-size: 11px;
  text-align: left;
  line-height: 2;
  color: rgba(36, 36, 36, 0.5);
}

/* this is the styling for the section for news items */

.section-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  grid-gap: 5px;
  width: 80%;
}

/* Grid item styling. The item container is flexed with direction of column */

.section-4-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.section-4-item h2 {
  color: #ef5350;
  font-family: "Russo One", sans-serif;
  font-size: 120%;
}
.sec-4-big-pic-first {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("./images/apple-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 340px;
  height: 276px;
}
.sec-4-big-pic-first a {
  text-decoration: none;
}
.sec-4-big-pic-second {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("./images/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 340px;
  height: 276px;
}

.sec-4-big-pic-second a {
  text-decoration: none;
}

.sec-4-big-pic-third {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 101%
    ),
    url("./images/third.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 340px;
  height: 276px;
}
.sec-4-big-pic-third a {
  text-decoration: none;
}
/* .sec-4-big-pic p{
  color: #fff;
  padding-top: 50px;
} */

.headline-header {
  padding: 150px 0 0 20px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 85%;
}

.pic-headline {
  color: #fff;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  font-size: 105%;
  padding: 0 0 0 20px;
  margin: 5px 0;
}
.view-history {
  color: #fff;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 75%;
}

/* div with flex rows */
.flexed-div {
  display: flex;
  background-color: #fce4ec;
}
.flexed-desc {
  width: 80%;
}
.flexed-desc a {
  text-decoration: none;
}
.flexed-header {
  padding-top: 15px;
}

.flexed-desc p {
  color: #ef5350;
  padding-left: 5px;
  margin: 1px;
  font-family: "Varela Round", sans-serif;
}

.flexed-pic {
  background-image: url("./images/bit.jpg");
  width: 96px;
  height: 96px;
}
/* ul elements containing div */
.ul-news-elements {
  padding: 20px 10px;

  /* background-color:#fff7f8; */
}
.ul-news-elements li,
.ul-news-elements ul {
  margin-left: 0;
  padding-left: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: grey;
}
/* styling latest deal section*/

.dealhead,
.dealprice {
  margin: 5px 0;
}
.ditem img {
  width: 270px;
  height: 200px;
}

.ditem {
  margin-bottom: 20px;
}
.imgcont {
  position: relative;
  overflow: hidden;
}

.ptag {
  position: absolute;
  top: -20px;
  right: -110px;
  transform: rotate(45deg);
  background-color: #ffe712;
  height: 25px;
  width: 250px;
  padding-top: 50px;
  text-align: center;
  font-size: 90%;
  font-family: "Varela Round", sans-serif;
}

/* styling for footer section*/

footer {
  background-color: #1a1a1a;
  padding: 2% 0 0 0;
}
.iconcont {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.ficon {
  color: white;
  margin: 5px 10px;
  font-size: 120%;
  background-color: #333;
  padding: 12px;
  border-radius: 50%;
  border: 2px solid #333;
}

.ficon:hover {
  background-color: black;
  border: 2px solid grey;
}

.footnav {
  width: 25%;
  justify-content: space-around;
  display: flex;
  margin: 2% auto;
  font-size: 75%;
  text-align: center;
}
.footnav li {
  list-style-type: none;
}

.footnav a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(167, 169, 169, 1);
}
.footnav a:hover {
  color: white;
}

.footbottom {
  margin: 0;
  background-color: #000000;
  padding: 2% 0;
  text-align: center;
}

.footbottom a {
  text-decoration: none;
  color: rgba(167, 169, 169, 1);
}

/*responsiveness for medium devices*/
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /*top navigation styling */
  .navcont {
    width: 100%;
  }

  .navtop {
    background-color: black;
    padding: 10px;
    width: 85%;
    font-size: 80%;
    float: right;
    margin: 0;
    height: 30px;
  }
  .navlist {
    display: flex;
    list-style-type: none;
  }

  .navlist li {
    margin-right: 15px;
  }
  .navlist a {
    text-decoration: none;
    color: #aaa;
  }
  .navlist a:hover {
    color: white;
  }
  #whitetext {
    color: white;
  }

  /*navlogom&s style */
  .navlogom-s {
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    width: 12.8%;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    display: block;
    float: left;
  }
  .navlogom-s img {
    width: 80%;
  }

  /*navigation fixed styling */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .navfixed {
    height: 40px;
    font-family: "Nova Square", cursive;
    font-size: 17px;
    background-color: white;
    font-size: 90%;
    float: right;
    width: 85.8%;
  }
  #sideinfologo {
    width: 125px;
    height: 54px;
  }

  .sideinfo {
    margin-right: 25px;
  }

  .time {
    margin-right: 20px;
    font-size: 120%;
    color: red;
    font-weight: bold;
  }
  .ticket {
    background-color: #0cc;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 60%;
    border: none;
    border-radius: 3px;
    font-weight: bold;
  }

  .ticket:hover {
    background-color: purple;
  }

  #searchbtn {
    transform: rotate(90deg);
    color: #aaa;
  }

  .navli2 a:hover {
    color: black;
  }
  .hiddenmd {
    display: none;
  }

  /*yellow nav styling */

  .yellow-nav {
    background-color: #ffe712;
    height: 20px;
    padding: 5px;
    text-align: center;
    clear: both;
  }
  .yellow-nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

  /* main content */
  .main-news-section {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "main side-top "
      "main side-bottom";
    height: 50vh;
    margin: 4px 4px 5% 4px;
  }

  .main-pic {
    /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
    background: linear-gradient(
        180deg,
        #f42 0%,
        rgba(68, 152, 217, 0.11528361344537819) 100%
      ),
      url("./images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    padding-bottom: 2%;

    padding: 1%;
  }

  /* logo sizing */

  .logo-TNW img {
    display: none;
  }
  .logo-TNW p {
    display: none;
  }
  /* styling the headline texts*/

  .pic-content p,
  .side-pic-top p,
  .side-pic-bottom p {
    color: #fff;
    margin: 0 0 0 10px;
  }

  .pic-content i {
    margin: 0 4px;
  }
  .headline {
    font-family: "Russo One", sans-serif;
    font-size: 200%;
    text-align: justify;
    padding-top: 225px;
  }
  #br {
    display: none;
  }

  #spn {
    display: block;
  }
  .side-headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    text-align: justify;
    padding-top: 125px;
    text-align: left;
  }

  .side-pic-content i {
    margin: 0 4px;
  }
}
/*responsiveness for mobile devices*/
@media only screen and (min-width: 569px) and (max-width: 767px) {
  /* main content */
  .main-news-section {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "main"
      "side-top"
      "side-bottom";

    margin: 4px 4px 5% 4px;
  }

  .main-pic {
    /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
    background: linear-gradient(
        180deg,
        #f42 0%,
        rgba(68, 152, 217, 0.11528361344537819) 100%
      ),
      url("./images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    padding-bottom: 2%;
    height: 30vh;
    padding: 1%;
  }

  /* Side pic top */
  .side-pic-top {
    height: 30vh;
  }

  /* side pic bottom */
  .side-pic-bottom {
    height: 30vh;
  }
  /* logo sizing */

  .logo-TNW img {
    display: none;
  }
  .logo-TNW p {
    display: none;
  }
  /* styling the headline texts*/

  .pic-content p,
  .side-pic-top p,
  .side-pic-bottom p {
    color: #fff;
    margin: 0 0 0 10px;
  }

  .pic-content i {
    margin: 0 4px;
  }
  .headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    text-align: justify;
    padding-top: 155px;
  }
  #br {
    display: none;
  }
  #br-first {
    display: none;
  }

  #spn {
    display: inline;
  }
  .side-headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    text-align: justify;
    padding-top: 200px;
    text-align: left;
  }

  .side-pic-content i {
    margin: 0 4px;
  }
}

@media only screen and (max-width: 568px) {
  /* main content */
  .main-news-section {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
      "main"
      "side-top"
      "side-bottom";

    margin: 4px 4px 5% 4px;
  }

  .main-pic {
    /* background:  linear-gradient(rgba(196, 32, 32, 0.25)),url("./images/main-pic-big.png"); */
    background: linear-gradient(
        180deg,
        #f42 0%,
        rgba(68, 152, 217, 0.11528361344537819) 100%
      ),
      url("./images/main-pic-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: main;
    padding-bottom: 2%;
    height: 30vh;
    padding: 1%;
  }

  /* Side pic top */
  .side-pic-top {
    height: 30vh;
  }

  /* side pic bottom */
  .side-pic-bottom {
    height: 30vh;
  }
  /* logo sizing */

  .logo-TNW img {
    display: none;
  }
  .logo-TNW p {
    display: none;
  }
  /* styling the headline texts*/

  .pic-content p,
  .side-pic-top p,
  .side-pic-bottom p {
    color: #fff;
    margin: 0 0 0 10px;
  }

  .pic-content i {
    margin: 0 4px;
  }
  .headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    text-align: justify;
    padding-top: 130px;
  }
  #br {
    display: none;
  }
  #br-first {
    display: none;
  }

  #spn {
    display: inline;
  }
  .side-headline {
    font-family: "Russo One", sans-serif;
    font-size: 110%;
    text-align: justify;
    padding-top: 200px;
    text-align: left;
  }

  .side-pic-content i {
    margin: 0 4px;
  }
}
